<!DOCTYPE html>
<html>
  <head>
    <title>EngApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
        <nav>
        <% if user_signed_in? %>
            <%= link_to 'logout', destroy_user_session_path, method: :delete %>
            <%= link_to 'edit', edit_user_registration_path %>
        <% else %>
            <%= link_to 'login', new_user_session_path %>
            <% end %>
        </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <hr>
    <footer>
        <nav>
          <%= link_to 'senences', sentences_path %>
          <br>
          <%= link_to 'dashboard', dashboard_index_path %>
          <br>
          <%= link_to 'streaming(global)', "#{ENV.fetch('ENG_APP_ST_URL_CALLED_FROM_GLOBAL')}/?user_id=#{current_user.id}&location=global" if current_user %>
          <%= link_to 'streaming(local)', "#{ENV.fetch('ENG_APP_ST_URL_CALLED_FROM_LOCAL')}/?user_id=#{current_user.id}&location=local" if current_user %>
        </nav>
    </footer>
  </body>
</html>
