<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @sentence.no %>
</p>

<p>
  <strong>En:</strong>
  <%= @sentence.en %>
</p>

<p>
  <strong>Jp:</strong>
  <%= @sentence.jp %>
</p>

<p>
  <strong>Voice data:</strong>
  <%= @sentence.voice_data %>
</p>

<%= link_to 'Back', sentence_path(Sentence.find_by_no(@sentence.no-1)) %>
<%= link_to 'Next', sentence_path(Sentence.find_by_no(@sentence.no+1)) %>

<hr>
<br>
<%= link_to 'list', sentences_path %>
